<h1>New Student</h1>

<form action="/students" method="post">
  <label>
  First Name:
  <input type="text" name="first_name">
  </label>

  <label>
  Last Name:
  <input type="text" name="last_name">
  </label>

  <label>
    Select a house:
    <select name="house">
      <option value="Gryffindor">Gryffindor</option>
      <option value="Slytherin">Slytherin</option>
      <option value="Hufflepuff">Hufflepuff</option>
      <option value="Ravenclaw">Ravenclaw</option>
    </select>
  </label>

  <input type='submit' value="add student">
</form>